.card-body {

    &--news {
        height:480px;
    }

    .container {
        &--news {
            max-height:460px;
            overflow-y:scroll;
            overflow-x:hidden;
        }
    }

}
