<div class="row">
	<div class="col-md-12">
		<div class="card card-plain">
			<!-- <div class="card-header">
				<h4 class="card-title"> Table on Plain Background</h4>
				<p class="card-category"> Here is a subtitle for this table</p>
			</div> -->
			<div class="card-body">
				<h2>nCoV19 SG Dashboard</h2>
				<p>
				This is a dashboard which provides the latest situation of the 2019 Novel Coronavirus (COVID-19) in Singapore.
				</p>
				<p>Data is maintained by the John Hopkins University Center for Systems Science and Engineering (<a href="https://github.com/CSSEGISandData">JHU CCSE</a>) and exposed via an API from <a href="https://github.com/ExpDev07">@ExpDev07</a></p>

				<p>Give a shoutout of appreciation (<span class="text-success">#ncov19fighton, #ncov19fightonsg</span>) to encourage:</p>
				<ul>
					<li>Frontline workers working round the clock to fight against the epidemic</li>
					<li>Researchers working on a vaccine</li>
					<li>Data analysts maintaining accurate operational data</li>
				</ul>

				<p>Leave a <a href="https://t.me/en02714772">message</a> for me!</p>

				<h2 id="privacy">Privacy Policy</h2>
				<p>
					At nCov19 SG Dashboard, accessible from dreamy-albattani-64dc35.netlify.com, one of our main priorities is the privacy of our visitors. This Privacy Policy section contains types of information that is collected and recorded by nCov19 SG Dashboard and how we use it.
				</p>
				<p>
					If you have additional questions or require more information about our Privacy Policy, do not hesitate to <a href="https://t.me/en02714772">contact</a> me.
				</p>
				<h3>Cookies and Web Beacons</h3>
				<p>
					Like any other website, nCov19 SG Dashboard uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.
				</p>
			</div>
		</div>
	</div>
</div>