<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-bell-55 text-muted"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">DORSCON
                            </p>
                            <p class="card-title text-warning">Orange
                                <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    Find out more <a
                    href="https://www.gov.sg/article/what-do-the-different-dorscon-levels-mean">here</a>
                    <!-- <i class="fa fa-clock-o"></i> {{current.date}} -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-ambulance text-warning"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category"><a href="https://sgwuhan.xose.net/">Confirmed</a></p>
                            <p class="card-title">{{current.confirmed}}
                                <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-clock-o"></i> {{current.date}} {{current.time}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-satisfied text-success"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Recovered</p>
                            <p class="card-title">{{current.recovered}}
                                <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-clock-o"></i> {{current.date}} {{current.time}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-globe text-danger"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Deaths</p>
                            <p class="card-title">{{current.deaths}}
                                <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-clock-o"></i> {{current.date}} {{current.time}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-title">Headlines</h5>
                <!-- <p class="card-category">SG</p> -->
            </div>
            <div class="card-body card-body--news">
                <div class="container--news">
                    <div *ngIf="latestNewsArr.length == 0">
                        <p>No news yet</p>
                    </div>
                    <div *ngFor="let news of latestNewsArr">
                        <blockquote>
                            <a href="{{news.url}}">
                                <p class="blockquote blockquote-primary">
                                {{news.title}}
                                <br>
                                <br>
                                <small>
                                    - {{news.source.name}}
                                </small>
                                </p>
                            </a>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">#sgfrontlinewarriors</h5>
                <!-- <p class="card-category">#sgfrontlinewarriors</p> -->
            </div>
            <div class="card-body ">
                <iframe allowfullscreen id="wallsio-iframe" src="https://walls.io/k4p8b?nobackground=1&amp;show_header=0" style="border:0;height:360px;width:100%" title="My social wall"></iframe>           
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-history"></i> Updated 3 minutes ago
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-title">Confirmed Cases - SG</h5>
                <!-- <p class="card-category">SG</p> -->
            </div>
            <div class="card-body">
                <canvas id="speedChart" width="400"  height="250px" ></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    
</div>